* {
  font-family: sans-serif;
  margin: 0px;
}

.header {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #659999,
    #f4791f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #659999, #f4791f);
  height: 190px;
}

#loggingIn {
  display: flex;
  justify-content: space-around;
}

.logo {
  max-width: 90%;
}

.postLogIn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navLink {
  margin: 10px;
  margin-bottom: 30px;
  align-self: center;
  cursor: pointer;
  background-color: #537c07;
  color: white;
}

#navLinks {
  background-color: #edd19a;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.categoryButton {
  background-color: #e0841e;
  padding: 10px;
  font-size: 15px;
  color: black;
  width: 120px;
  cursor: pointer;
  border-radius: 40%;
  transition: background-color 0.5s;
}

.categoryButton:hover {
  background-color: #d9c077;
}
.allProducts {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
}

.product {
  padding: 35px;
  border: 1px solid gray;
}

.addToCartBtn {
  background-color: #537c07;
  color: white;
  cursor: pointer;
  transition: padding 0px;
  transition-duration: 0.5s;
}

.addToCartBtn:hover {
  padding: 1px;
}

.productContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 50px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #cead41;
}

.productDescription {
  align-self: flex-end;
  margin: 20px;
}

#webName {
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cartItem {
  margin: 50px;
  align-self: center;
}

.checkout {
  display: flex;
  flex-direction: column;
}

.checkoutBtn {
  align-self: center;
  cursor: pointer;
  transition: background-color 0.5s;
  padding: 50px;
  font-size: 40px;
  font-weight: 700;
}

.checkoutBtn:hover {
  background-color: #a55093;
  color: white;
}
