body {
  font-family: sans-serif;
}

#navBar {
  box-sizing: content-box;
  background-color: #e0841e;
  color: white;
  text-decoration: none;
}

#navLinks {
  display: flex;
  justify-content: center;
  color: white;
}

#webName {
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartIcon {
  color: white;
}
